/*
 * Adding margin below the controls
 */
.tableControls {
	margin-bottom: 20px;
}
ul.dropdown-menu {
	min-width: 1px;
}
ul.dropdown-menu  li{
	margin: 0 10px;
	white-space: nowrap;
	cursor: pointer;
}
ul.dropdown-menu li label {
	font-weight: normal;
}
ul.dropdown-menu  li.selected{
	font-weight: bold;
}
/*
 * The style properties below apply to the activity table.  Note that if the
 * implementation contains child tables they will also be affected most of the
 * properties below (unless otherwise noted).
 */
table#status tr {
    height: 30px;
}

/*
 * These styles are applied to the child table that is added by adding a row
 * to the main table.  The child row is given a height of 0 and the container
 * of the child table is hidden so that we can use a slide down effect to
 * present the data.
 */
table#status tr.childRow {
    height: 0;
}
table#status tr.childRow .childContainer {
    display: none;
}
table#status tr.childRow .childContainer table.childTable thead {
    display: none;
}